@import url(http://fonts.googleapis.com/css?family=Nobile:400,400italic,700);
/* line 7, ../scss/style.scss */
body {
  font: 12px Nobile, Tahoma, Geneva, sans-serif;
  color: #fcfcfc;
  background: #272425;
}

/* line 2, ../scss/reset/_headings.scss */
h1, h2, h3,
h4, h5, h6 {
  color: #fcfcfc;
  font-family: Nobile, Tahoma, Geneva, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
/* line 8, ../scss/reset/_headings.scss */
h1:first-child, h2:first-child, h3:first-child,
h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

/* line 13, ../scss/reset/_headings.scss */
h1 {
  margin: 0 0 5px;
  border-bottom: 1px dotted #b1b6bb;
  font-size: 18px;
  line-height: 21px;
}

/* line 19, ../scss/reset/_headings.scss */
h2 {
  font-size: 16px;
}

/* line 22, ../scss/reset/_headings.scss */
h3 {
  font-size: 14px;
}

/* line 25, ../scss/reset/_headings.scss */
h4 {
  font-size: 14px;
}

/* line 28, ../scss/reset/_headings.scss */
h5 {
  font-size: 12px;
}

/* line 31, ../scss/reset/_headings.scss */
h6 {
  font-size: 11px;
}

/* line 1, ../scss/reset/_links.scss */
a {
  font-weight: bold;
  color: #b1b6bb;
  text-decoration: none;
}
/* line 6, ../scss/reset/_links.scss */
a:hover {
  color: white;
  text-shadow: 0px 0px 10px #fcfcfc;
}
/* line 11, ../scss/reset/_links.scss */
a img {
  border: 0;
}

/* line 2, ../scss/reset/_lists.scss */
ul.links {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 7, ../scss/reset/_lists.scss */
ul.links li {
  display: inline-block;
}
/* line 12, ../scss/reset/_lists.scss */
ul.menu {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}
/* line 17, ../scss/reset/_lists.scss */
ul.menu li {
  display: inline-block;
}

/* line 17, ../scss/style.scss */
hr {
  width: 50%;
  margin: 10px auto;
  border: 1px dotted #b1b6bb;
}

/* line 6, ../scss/_base.scss */
.container {
  width: 960px;
  margin: 0 auto;
}
/* line 9, ../scss/_base.scss */
.container:after {
  display: block;
  content: " ";
  clear: both;
}

/* line 16, ../scss/_base.scss */
.col2 {
  width: 140px;
  float: left;
  margin: 0 10px;
}

/* line 16, ../scss/_base.scss */
.col3 {
  width: 220px;
  float: left;
  margin: 0 10px;
}

/* line 16, ../scss/_base.scss */
.col4 {
  width: 300px;
  float: left;
  margin: 0 10px;
}

/* line 16, ../scss/_base.scss */
.col5 {
  width: 380px;
  float: left;
  margin: 0 10px;
}

/* line 16, ../scss/_base.scss */
.col6 {
  width: 460px;
  float: left;
  margin: 0 10px;
}

/* line 16, ../scss/_base.scss */
.col7 {
  width: 540px;
  float: left;
  margin: 0 10px;
}

/* line 16, ../scss/_base.scss */
.col8 {
  width: 620px;
  float: left;
  margin: 0 10px;
}

/* line 16, ../scss/_base.scss */
.col9 {
  width: 700px;
  float: left;
  margin: 0 10px;
}

/* line 16, ../scss/_base.scss */
.col10 {
  width: 780px;
  float: left;
  margin: 0 10px;
}

/* line 16, ../scss/_base.scss */
.col11 {
  width: 860px;
  float: left;
  margin: 0 10px;
}

/* line 16, ../scss/_base.scss */
.col12 {
  width: 940px;
  float: left;
  margin: 0 10px;
}

/* line 23, ../scss/_base.scss */
.pre1 {
  padding-left: 80px;
}

/* line 23, ../scss/_base.scss */
.pre2 {
  padding-left: 160px;
}

/* line 23, ../scss/_base.scss */
.pre3 {
  padding-left: 240px;
}

/* line 23, ../scss/_base.scss */
.pre4 {
  padding-left: 320px;
}

/* line 23, ../scss/_base.scss */
.pre5 {
  padding-left: 400px;
}

/* line 23, ../scss/_base.scss */
.pre6 {
  padding-left: 480px;
}

/* line 23, ../scss/_base.scss */
.pre7 {
  padding-left: 560px;
}

/* line 23, ../scss/_base.scss */
.pre8 {
  padding-left: 640px;
}

/* line 23, ../scss/_base.scss */
.pre9 {
  padding-left: 720px;
}

/* line 23, ../scss/_base.scss */
.pre10 {
  padding-left: 800px;
}

/* line 28, ../scss/_base.scss */
.suf1 {
  padding-right: 80px;
}

/* line 28, ../scss/_base.scss */
.suf2 {
  padding-right: 160px;
}

/* line 28, ../scss/_base.scss */
.suf3 {
  padding-right: 240px;
}

/* line 28, ../scss/_base.scss */
.suf4 {
  padding-right: 320px;
}

/* line 28, ../scss/_base.scss */
.suf5 {
  padding-right: 400px;
}

/* line 28, ../scss/_base.scss */
.suf6 {
  padding-right: 480px;
}

/* line 28, ../scss/_base.scss */
.suf7 {
  padding-right: 560px;
}

/* line 28, ../scss/_base.scss */
.suf8 {
  padding-right: 640px;
}

/* line 28, ../scss/_base.scss */
.suf9 {
  padding-right: 720px;
}

/* line 28, ../scss/_base.scss */
.suf10 {
  padding-right: 800px;
}

/* line 34, ../scss/_base.scss */
.colr {
  float: right;
  margin: 0 10px;
}

/* line 38, ../scss/_base.scss */
.alpha {
  margin-left: 0;
}

/* line 41, ../scss/_base.scss */
.omega {
  margin-right: 0;
}

/* line 44, ../scss/_base.scss */
.clear {
  clear: both;
}

/* line 2, ../scss/sections/_header.scss */
#header #logo img {
  width: 100%;
}
/* line 5, ../scss/sections/_header.scss */
#header #contact {
  position: relative;
}
/* line 8, ../scss/sections/_header.scss */
#header #contact h3 {
  margin-top: 5px;
  margin-bottom: 12px;
  font-size: 18px;
}
/* line 14, ../scss/sections/_header.scss */
#header #contact p {
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 18px;
}
/* line 19, ../scss/sections/_header.scss */
#header #contact p span {
  font-size: 10px;
  text-transform: uppercase;
}
/* line 24, ../scss/sections/_header.scss */
#header #contact p a {
  font-weight: normal;
}
/* line 29, ../scss/sections/_header.scss */
#header #contact #city-guilds {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 1, ../scss/sections/_navigation.scss */
#nav {
  margin-bottom: 20px;
  border-top: 1px dotted #b1b6bb;
  border-bottom: 3px solid #b1b6bb;
}
/* line 6, ../scss/sections/_navigation.scss */
#nav a {
  display: block;
  margin: 0 16px;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  text-transform: uppercase;
}
/* line 16, ../scss/sections/_navigation.scss */
#nav a:hover,
#nav li.active a {
  text-shadow: none;
  background: url('../img/arrow_nav.png?1371473810') 50% 94% no-repeat;
}

/* line 1, ../scss/sections/_banner.scss */
#banner {
  height: 245px;
  margin-bottom: 20px;
  border-bottom: 3px solid #b1b6bb;
  overflow: hidden;
}
/* line 7, ../scss/sections/_banner.scss */
#banner img {
  width: 100%;
}

/* line 2, ../scss/sections/_content.scss */
#content .read-more {
  float: right;
  margin: 0;
  padding: 0;
}

/* line 1, ../scss/sections/_footer.scss */
#footer {
  border-top: 3px solid #b1b6bb;
  border-bottom: 1px dotted #b1b6bb;
}
/* line 5, ../scss/sections/_footer.scss */
#footer .menu {
  text-align: right;
}
/* line 9, ../scss/sections/_footer.scss */
#footer .menu li a {
  font-weight: normal;
}
/* line 13, ../scss/sections/_footer.scss */
#footer .menu li:after {
  content: ' |';
}
/* line 17, ../scss/sections/_footer.scss */
#footer .menu li:last-child:after {
  content: '';
}

/* line 1, ../scss/elements/_box.scss */
.box {
  margin-bottom: 20px;
  background: black;
}
/* line 5, ../scss/elements/_box.scss */
.box .heading {
  padding: 5px 10px;
  background: #b1b6bb;
}
/* line 9, ../scss/elements/_box.scss */
.box .heading * {
  margin: 0;
  color: black;
}
/* line 15, ../scss/elements/_box.scss */
.box .content {
  padding: 10px 5px;
  border: 1px solid #b1b6bb;
  border-top: 0;
}
/* line 20, ../scss/elements/_box.scss */
.box .content :first-child {
  margin-top: 0;
}
/* line 24, ../scss/elements/_box.scss */
.box .content:after {
  display: block;
  content: " ";
  clear: both;
}
/* line 30, ../scss/elements/_box.scss */
.box .content ul {
  float: left;
  width: 39%;
  padding-left: 10%;
  margin: 0;
}
/* line 37, ../scss/elements/_box.scss */
.box .content blockquote {
  margin: 12px 20px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
/* line 44, ../scss/elements/_box.scss */
.box .content cite {
  display: inline-block;
  width: 100%;
  text-align: right;
}

/* line 2, ../scss/pages/testimonials.scss */
.client-work img {
  display: block;
  float: left;
  width: 22.85%;
  margin: 0 20px 20px 0;
}
/* line 8, ../scss/pages/testimonials.scss */
.client-work img:nth-child(4n+4) {
  margin-right: 0;
}
