@import url(http://fonts.googleapis.com/css?family=Nobile:400,400italic,700);
@import "compass";
@import "vars";
@import "mixins";

// Only styles common for all screen sizes
body {
    font: 12px $body_font;
    color: $text;
    background: $background;
}

@import "reset/headings";
@import "reset/links";
@import "reset/lists";

hr { width:50%; margin: 10px auto; border: 1px dotted #b1b6bb; }

@import "base";

@import "sections/header";
@import "sections/navigation";
@import "sections/banner";
@import "sections/content";
@import "sections/footer";

@import "elements/box";

@import "pages/testimonials";