@import "vars";
@import "mixins";

.client-work {
    img {
        display: block;
        float: left;
        width: 22.85%;
        margin: 0 $gutter $gutter 0;

        &:nth-child(4n+4) {
            margin-right: 0;
        }
    }
}
