.box {
    margin-bottom: $gutter;
    background: $black;

    .heading {
        padding: 5px 10px;
        background: $grey;

        * {
            margin: 0;
            color: $black;
        }
    }

    .content {
        padding: 10px 5px;
        border: 1px solid $grey;
        border-top: 0;

        :first-child {
            margin-top: 0;
        }

        &:after {
            display: block;
            content: " ";
            clear: both;
        }

        ul {
            float: left;
            width: 39%;
            padding-left: 10%;
            margin:0;
        }

        blockquote {
            margin:12px 20px;
            font-style: italic;
            font-weight: bold;
            text-align: center;
        }

        cite {
            display: inline-block;
            width: 100%;
            text-align: right;
        }
    }
}